 nav {
     background-color: black;
 }
 
 .logo {
     height: 25px;
 }
 
 .custom-toggler-icon {
     color: white;
 }
 /* .navbar-nav .dropdown-menu {
    position: absolute;
    float: none;
} */
 
 .navbar a:hover {
     text-decoration: none;
     color: #bfbfbf;
     /* transition: 200ms; */
     /* font-weight: bold; */
     background-color: grey;
     font: 24px
 }
 .icon {
    font-size: 15px;
    margin: 9px;
    color: grey;
}
 
 .menu {
     color: white;
     width: auto;
     font-weight: 100;
 }

 
.blue-book {
    background-color: #d1d1d1;
    text-align: center;
}

.container-d {
    background-color: #212121;
}

.footer-links {
    color: #bfbfbf;
    text-decoration: none;
    font-size: 12px;
    margin-left: 20px;
}

.white-gradient {
    background-color: rgb(255, 186, 0);
    border-radius: inherit;
    padding: 5px 23px;
    font-size: 12px;
}
 /* .fz{
    font-size:12px;
} */
/*  
 .text-white {
     line-height: .1;
 }
 
 .card-body-local {
     flex: 1 1 auto;
     padding: 0.25rem;
 }
 
 .icon {
     font-size: 15px;
     margin: 9px;
     color: grey;
 }

 .button {
    background-color: rgb(255, 186, 0);
    padding: 12px 23px;
    color: black;
    text-align: center;
    text-decoration: none;
    border-radius: .14rem;
    cursor: pointer;
    display: inline-block;
    font-family: "Proxima Nova";
    font-size: 14px;
    font-weight: inherit;
    position: relative;
    transition-duration: 250ms;
    margin-top: 10px;
}

.dark-grey {
	background-color: #212121;
	color: #bfbfbf;
} */


.footer{
    background-color: black;
}
.accordion{
    padding: .75rem 1.25rem;
}

.accordion .card{
    background-color: black;
    color: white;
    border-radius: 0px;
}

.accordion button{
    color: white;
    text-decoration: none;
}

.accordion h2{
    border-bottom: 1px solid white;
}

.accordion button{
    border-bottom: 1px solid white;
    border-radius: 0px;
    padding: 10px 0px;
}

.accordion span{
    font-size: 12px;
    font-weight: 700;
}

.this-shit img{
    height: 20px;
}


.accordion .card .card-body span{
    padding: 7px 0px;
    font-size: 14px;
    /* font-weight: 400; */
    color: #bfbfbf;
}

.accordion .card .card-body span:nth-child(1){
    color: white;
}

.socials{
    color: white;
    padding: 10px 0px;
}

.socials .row{
    padding: .75rem 1.25rem;
}

.socials span i{
    font-size: 30px;
    margin-top: 15px
}

.socials span img{
    margin-top: 15px;
}

.footer{
    padding: .75rem 1.25rem;
}

.footer-container{
    border-top: 1px solid #212121;
}

.footer-container span{
    padding: 10px 25px 0px 0px;
    font-size: 10px;
    color: #bfbfbf;
}

.footer-text{
    font-size: 10px;
    color: #bfbfbf;
    max-width: 500px;
    margin-top: 20px;
}